body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-image: url('https://www.epiuselabs.com/hubfs/Labs/SAP%20Cloud%20Migrations/sale.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#logo{
  width: 200px;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading_container h2 {
  text-align: center;
}

.heading_container h2 span {
  font-weight: bold;
  color: #e5f132;
}

/*header section*/
.hero_area {
  height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 275px;
  height: 13%;
  z-index: 5;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .about_section {
  padding: 150px 0;
}

.sub_page .car_section {
  margin-bottom: 75px;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 0;
  margin: 0px 25px;
  font-style: bold;
  font-style: italic;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand span {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px ;
  background: -webkit-linear-gradient(rgb(15, 15, 255), rgba(0, 0, 0, 0.742));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/
/* slider section */
.slider_section {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

.slider_section .detail-box {
  margin: 0 auto;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0c00e6;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin: 35px 0 50px 0;
  text-transform: uppercase;
}

.slider_section .detail-box a:hover {
  background-color: #f90000;
}

.slider_section .img-box img {
  width: 100%;
}

img{

  width:90%;
  height:100%;
  object-fit:cover;
}


.slider_section .indicator_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 25px;
  right: 15px;
  z-index: 5;
}

.find_section {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  z-index: 9;
}

.find_section .form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
}

.find_section .form_container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.find_section .form_container .box.b-1 {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
}

.find_section .form_container .box.b-2 .form-control, .find_section .form_container .box.b-3 .form-control {
  text-align: center;
}

.find_section form {
  padding: 30px 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
  border: 5px solid ;
  border-color: #00ffea;
  margin-left: 190px;
}

.find_section form .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 8px;
  border: solid;
  border-right: 1px solid #cacbcc;
  background-color: transparent;
  margin-left: 4px 0;
}

.find_section form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/down-arrow.png);
  background-size: 15px;
  background-position: 97% center;
  background-repeat: no-repeat;
}

.find_section form .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.find_section form .btn-box button {
  display: inline-block;
  padding: 14px 35px;
  background-color: #011fff;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  width: 100%;
}

.find_section form .btn-box button:hover {
  background-color: #e78f00;
}

.job_section .handler_btn-box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job_section .handler_btn-box .nav-tabs {
  border: none;
}

.job_section .handler_btn-box .nav-link {
  width: 110px;
  padding: 10px 0;
  color: #ffffff;
  background-color: rgba(128, 128, 128, 0.694);
  margin: 0 10px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.job_section .handler_btn-box .nav-link.active {
  background-color: #c628ff;
}

.job_section .job_board {
  -webkit-transition: none;
  transition: none;
}

.job_section .content-box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.job_section .content-box .content .box {
  width: 225px;
  height: 300px;
  margin: 0px 10px 25px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border-radius: 25px;
}

.job_section .content-box .content .box h3 {
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job_section .content-box .content .box a {
  text-transform: uppercase;
  color: #ffffff;
}

.job_section .content-box .content .box a:hover {
  text-transform: uppercase;
  color: #2833ff;
}

.job_section .content-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job_section .content-box .btn-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #ff1d9d;
  border: 3px solid;
  border-color: black;
  color: #ffffff;
  -webkit-transition: all at ease 0.3s;
  transition: all 0.3s;
}

.job_section .content-box .btn-box a:hover {
  background-color: #3aee46cc;
}

.feature_section {
  background-color: #34f04a;
}

.feature_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_section .detail-box {
  color: #ffffff;
  margin: 45px 0;
}

.feature_section .detail-box h2 {
  margin-bottom: 35px;
}

.feature_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #111111;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 35px;
}

.feature_section .detail-box a:hover {
  background-color: #040404;
}

.feature_section .img-box img {
  width: 100%;
}

.people_section .people_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people_section .people_container.c-2 {
  padding-left: 20%;
}

.people_section .people_container .box {
  margin: 10px;
}

.people_section .people_container .box img {
  width: 100%;
}

.people_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people_section .btn-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #1201ff;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.people_section .btn-box a:hover {
  background-color: #0000ff;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 45px 15px;
}

.client_section .box .img-box {
  width: 150px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  margin-top: 35px;
}

.client_section .box .detail-box h5 {
  text-transform: uppercase;
  color: #0101ff;
}

.client_section .box .detail-box p {
  margin-top: 20px;
}

/* info section */
.info_section {
  position: relative;
  background-color: #252525;
}

.info_section h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 35px;

}

.info_section .about_links h5 {
  border-bottom: 2px solid #2b01ff;
}

.info_section img {
  width: 100%;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 10px 0;
}

.info_section ul li a,
.info_section ul li a:hover {
  color: #fff;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
  color: #fff;
  padding: 1px 3px;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .form_container label {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.info_section .form_container input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #fff;
  margin-left: 45px;
  margin-right: 10px;
}

.info_section .form_container button {
  display: inline-block;
  padding: 8px 50px;
  background-color: #0101ff;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  border: none;
  text-transform: uppercase;
}

.info_section .form_container button:hover {
  background-color: #1100ff;
}

.info_section .form_container button:hover {
  -webkit-transform: none;
          transform: none;
}

/* end info section */
/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  padding: 20px;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}

* Main Footer */
footer .main-footer{  padding: 20px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #ff8d1e;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
